<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">User Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" href="#home" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#home" routerLink="/home" >User</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="#social" routerLink="/social" >Social</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="#country" routerLink="/country" >Country</a>
        </li>
     
       </ul>
     
    </div>
  </nav>
  <div class="row" style="text-align: -webkit-center;  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;">
  <button type="button" class="btn btn-secondary" (click)="yeah()">Choose To Proceed</button>


</div>

